<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Display Person</title>
</head>
<body>
<h2> Person Table</h2>
<table>
<tr> 
	<th>number</th>
	<th>name</th>
	<th>gender</th>
	<th>age</th>
	<th>street</th>
	<th>city</th>
	<th>pin code</th>
</tr>

<tr th:each ="person:${person}" >
<td th:text="${person.number}"></td>
<td th:text="${person.name}"></td>
<td th:text="${person.gender}"></td>
<td th:text="${person.age}"></td>
<td th:text="${person.street}"></td>
<td th:text="${person.city}"></td>
<td th:text="${person.pincode}"></td>

<td> <a th:href="@{'editPerson?number='+${person.number}}">edit</a>
<td> <a th:href="@{'deletePerson?number='+${person.number}}">delete</a>
</tr>
							

</table>

</body>
</html>