<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Person</title>

</head>
<body>
<h2>Person details</h2>
<form action="updPerson" method="post">
<pre>
	Number: <input type="text" name="number" th:value="${person.number}" Readonly > 
	Name: <input type="text" name="name"  th:value="${person.name}">
	Gender: <input type="text" name="gender" th:value="${person.gender}" >
	Age: <Input type="number" name="age" th:value="${person.age}">
	
	Address:
		Street: <input type="text" name="street" th:value="${person.street}" >
		City:	<input type="text" name="city" th:value="${person.city}" >
		Pin Code: <input type="number" name="pincode" th:value="${person.pincode}" >
		<br>
	<input type="submit" value="save" />
</pre>
</form>
</body>
</html>